@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

@font-face {
    font-family: "Abys";
    src: url("fonts/Abys-Regular.woff") format("woff"),
    url("fonts/Abys-Regular.woff2") format("woff2");
}

:root {
    --dark-color: rgb(39,39,39);
    --med-color: rgb(44,52,106);
    --sec-color: rgb(225,240,106);
}

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Josefin Sans', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--dark-color);
    display: flex;
    flex-direction: column;
}

header,
footer {
    color: var(--sec-color);
    padding: 20px;
}

header {
    font-weight: 700;
    font-size: 2em;
    background-color: var(--med-color);

    display: inherit;
    justify-content: start;
}

main {
    padding: 20px 0px;

    display: inherit;
    justify-content: center;
    align-items: center;
    flex: 1;
}

#game-look {
    width: max-content;
    display: inherit;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

#game-container {
    display: grid;
    grid-template: repeat(3, max-content) / repeat(3, max-content);
}

#game-message {
    font-weight: 700;
    font-size: 1.8rem;
    color: var(--sec-color);
}

.cells {
    width: 200px;
    height: 200px;

    font-size: 12em;
    font-family: "Abys", sans-serif;
    color: var(--sec-color);

    display: flex;
    justify-content: center;
    align-items: center;
}

.cells:first-child,
.cells:nth-child(2),
.cells:nth-child(4),
.cells:nth-child(5) {
    border-bottom: 3px solid var(--sec-color);
    border-right: 3px solid var(--sec-color);
}

.cells:nth-child(3),
.cells:nth-child(6) {
    border-bottom: 3px solid var(--sec-color);
}

.cells:nth-child(7),
.cells:nth-child(8) {
    border-right: 3px solid var(--sec-color);
}

.cell.X,
.cell.O {
    cursor: not-allowed;
}

button {
    appearance: none;
}

button#restart {
    padding: 15px;
    width: max-content;

    color: var(--sec-color);
    font-size: 1em;
    text-transform: uppercase;

    background-color: var(--med-color);
    border: none;
    border-radius: 10px;
}

button#restart:hover {
    color: rgba(224, 240, 106, 0.676);
    background-color: rgba(44, 52, 106, 0.693);
}

footer {
    text-align: center;
}

a,
a:visited {
    color: var(--sec-color);
}

@media only screen and (max-width: 600px) {
    header {
        justify-content: center;
    }

    .cells {
        width: calc(100vw/4);
        height: calc(100vw/3);
        font-size: 8.5em;
    }
}
